.question-card-component {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.selection-componenet {
    display: flex;
    align-items: center;
    justify-content: center;
}